:root {
  --green-50: hsl(169, 61%, 95%);
  --green-100: hsl(169, 61%, 90%);
  --green-200: hsl(169, 61%, 80%);
  --green-300: hsl(169, 61%, 70%);
  --green-400: hsl(169, 61%, 60%);
  --green-500: hsl(169, 61%, 46%);
  --green-600: hsl(169, 61%, 36%);
  --green-700: hsl(169, 61%, 26%);
  --green-800: hsl(169, 61%, 16%);
  --green-900: hsl(169, 61%, 10%);
  --green-950: hsl(169, 61%, 5%);

  --sea-50: hsl(208, 71%, 95%);
  --sea-100: hsl(208, 71%, 90%);
  --sea-200: hsl(208, 71%, 80%);
  --sea-300: hsl(208, 71%, 70%);
  --sea-400: hsl(208, 71%, 60%);
  --sea-500: hsl(208, 71%, 45%);
  --sea-600: hsl(208, 71%, 35%);
  --sea-700: hsl(208, 71%, 25%);
  --sea-800: hsl(208, 71%, 15%);
  --sea-900: hsl(208, 71%, 10%);
  --sea-950: hsl(208, 71%, 5%);

  --dark-50: hsl(213, 96%, 95%);
  --dark-100: hsl(213, 96%, 90%);
  --dark-200: hsl(213, 96%, 80%);
  --dark-300: hsl(213, 96%, 70%);
  --dark-400: hsl(213, 96%, 60%);
  --dark-500: hsl(213, 96%, 11%);
  --dark-600: hsl(213, 96%, 9%);
  --dark-700: hsl(213, 96%, 7%);
  --dark-800: hsl(213, 96%, 5%);
  --dark-900: hsl(213, 96%, 3%);
  --dark-950: hsl(213, 96%, 2%);

  --text-50: hsl(0, 0%, 98%);
  --text-100: hsl(0, 0%, 95%);
  --text-200: hsl(0, 0%, 90%);
  --text-300: hsl(0, 0%, 85%);
  --text-400: hsl(0, 0%, 81%);
  --text-500: hsl(0, 0%, 70%);
  --text-600: hsl(0, 0%, 60%);
  --text-700: hsl(0, 0%, 50%);
  --text-800: hsl(0, 0%, 40%);
  --text-900: hsl(0, 0%, 30%);
  --text-950: hsl(0, 0%, 20%);
}
