{{/* ----------------------------------------------------------------------****
**** Layout copiado pra implementar a tabela de conteúdos (toc) nos posts  ****
**** --------------------------------------------------------------------- */}}

{{ define "main" }}
  {{ if not .Params.menu }}
    <h1>{{ .Title }}</h1>
    <p class="byline">
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      </time>
      {{ with .Params.author }}· {{.}}{{ end }}
    </p>
  {{ end }}

	{{ if .Params.toc }}
		<aside class="toc">
			<span class="toc-title">
				<strong>Table Of Contents</strong>
			</span>
			{{ .TableOfContents }}
		</aside>
	{{ end }}

  <content>
    {{ .Content }}
  </content>

  <p>
    {{ range (.GetTerms "tags") }}
      <a class="blog-tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
    {{ end }}
  </p>

  {{ with .Site.Social.email }}
    <p>
      <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
        {{ i18n "email-reply" }} ↪
      </a>
    </p>
  {{ end }}
{{ end }}
