{{ define "main" }}
  <section id="header">
    <h1>{{ .Title }}</h1>
    <ul>
      <li>
        {{ partial "icons.html" "bi-calendar-fill" }}
        <time pubdate datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format (default "2006.01.02" .Site.Params.dateFormat) }}
        </time>
      </li>
      <li>
        {{ partial "icons.html" "bi-clock-fill" }}
        {{ .ReadingTime }}m
      </li>
      {{ with .Params.author }}
        <li>
          {{ partial "icons.html" "bi-person-fill" }}
          by <em>{{ . }}</em>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ if (default .Params.toc true) }}
    <section id="toc">
      <h2>Table of Contents</h2>
      {{ .TableOfContents }}
    </section>
  {{ end }}
  <article id="article">
    {{ .Content }}
  </article>
  <section id="comments">
    {{ if or .Params.comments .Site.Params.comments }}
      {{ partial "disqus.html" . }}
    {{ end }}
  </section>
  <section id="posts">
    {{ with site.RegularPages.Related . | first 5 }}
      <h2>Related Articles</h2>

      <ul>
        {{ range . }}
          <li>
            <div class="title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <div class="timestamp">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format (default "2006, Jan 01" .Site.Params.dateFormat) }}
              </time>
            </div>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
