{{ range .Site.Menus.main.ByWeight }}
  <a href="{{ .URL }}">[{{ .Name }}]</a>
{{ end }}
<a href='{{ absURL "index.xml" }}'>
	[RSS<img style="max-width: .75rem; margin: 0 .2rem;" src="http://feedicons.com/images/feed-icon-14x14.png" alt="RSS">]
</a>

<!-- Convert this page's translations into a dict -->
{{ $translations := dict }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

<!-- Create a link to every translation -->
{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
  {{ with (index $translations .Lang) }}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
  {{ else }}
    <!-- The complicated setup was necessary to make a grayed out link -->
    {{ if not .Params.hideUntranslated }}
      <a class="disabled" role="link" aria-disabled="true">{{ .LanguageName }}</a>
    {{ end }}
  {{ end }}
{{ end }}
